.player{
  width: 100%;
  background-color: #c7c7c7c7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 20px;
  position: fixed;
  left: 0;
  bottom: 0px;
  z-index: 1;
  box-sizing: border-box;
}

.player__timeline{
  width: 100%;
  margin-bottom: 10px;
}

.player__conteiner{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player__control{
  width: 60%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.player__image{
  width: 30px;
  height: 30px;
}

.player__util{
  width: 30%;
  height: 40px;
}

.player__button{
  width: 30px;
  height: 30px;
  opacity: 0.6;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.2s linear;
}

.player__up{
  background-image: url('../../image/track-prev.svg');
}

.player__up:hover{
  transform: scale(1.2);
  opacity: 1;
  cursor: pointer;
}

.player__play{
  background-image: url('../../image/play-smallWhite.svg');
}

.player__play:hover{
  transform: scale(1.2);
  opacity: 1;
  cursor: pointer;
}

.player__down{
  background-image: url('../../image/track-next.svg');
}

.player__down:hover{
  transform: scale(1.2);
  opacity: 1;
  cursor: pointer;
}

.player__list{
  background-image: url('../../image/playlist-next.svg');
}

.player__list:hover{
  transform: scale(1.2);
  opacity: 1;
  cursor: pointer;
}
.player__box-info{
  min-width: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

.player__name-album{
  color: #222;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.player__name-artist{
  color:#777;
  font-size: 13px;
  font-weight: 400;
}

.player__button-heart{
  background-image: url('../../image/heart.svg');
}

.player__button-heart:hover{
  transform: scale(1.2);
  opacity: 1;
  cursor: pointer;
}

.player__button-plus{
  background-image: url('../../image/plus-big.svg');
}

.player__button-plus:hover{
  transform: scale(1.2);
  opacity: 1;
  cursor: pointer;
}

.player__button-link{
  background-image: url('../../image/share.svg');
}

.player__button-link:hover{
  transform: scale(1.2);
  opacity: 1;
  cursor: pointer;
}

.player__button-dislike{
  background-image: url('../../image/circle-crossed.svg');
}

.player__button-dislike:hover{
  transform: scale(1.2);
  opacity: 1;
  cursor: pointer;
}

.player__util{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player__button-quality{
  background-image: url('../../image/hq.svg');
}

.player__button-quality:hover{
  transform: scale(1.2);
  opacity: 1;
  cursor: pointer;
}

.player__button-mix{
  background-image: url('../../image/shuffle.svg');
}

.player__button-mix:hover{
  transform: scale(1.2);
  opacity: 1;
  cursor: pointer;
}

.player__button-repeat{
  background-image: url('../../image/repeat.svg');
}

.player__button-repeat:hover{
  transform: scale(1.2);
  opacity: 1;
  cursor: pointer;
}

.player__button-value{
  background-image: url('../../image/volume-sprite.svg');
}

.player__button-value:hover{
  transform: scale(1.2);
  opacity: 1;
  cursor: pointer;
}
